sphinx==7.1.2
sphinx-rtd-theme==2.0.0
docutils==0.18.1
sphinx-copybutton
sphinx-togglebutton
sphinxcontrib-bibtex
astropy>=5.1.1
corner>=2.2.1
matplotlib==3.6.2
nestle==0.2.0
numpy==1.23.4
scipy>=1.9.3